
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

Menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}